body{
    display: flex;
}

h1{
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

#nav{
    min-width: 100px;
    margin-top: 37px;
    margin-right: 30px;
}

#CA{
    text-align: center;
}

#Menu{
    vertical-align: top;
}

#Good{
    background-color: greenyellow;
}

#Bad{
    background-color: red;
}

#audit td{
    width: 200px;
    vertical-align: top;
}
#apps
{
    text-align: center;
}


